*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.question-section {
    flex-basis: 50%;
    background-color: rgb(235, 194, 143);
    padding: 20px;
    box-sizing: border-box;
}

.answer-section {
    flex-basis: 50%;
    background-color: #f18181;
    padding: 20px;
    box-sizing: border-box;
}
#input {
float: left;
width: 50%;
}
#output {
float: left;
width: 50%;
}
.clear {
clear: both;
}